@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* .profileWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  gap: 1rem;
  position: relative;
}

.profileWrapper h1 {
  overflow: hidden;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Audiowide', cursive;
  font-size: xxx-large;
  color: #0969da;
  position: relative;
}

.profileWrapper h1::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 43%;
  height: 4px;
  display: flex;
  justify-content: end;
  background-color: #fd837c;
  right: 17%;
  border-radius: 8px;
}


/*  */
.avatar {
  height: 40%;
  width: 100%;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}

.avatar img {
  border-radius: 50%;
  height: 90%;
  width: auto;
  color: var(--grey-bolder);
  object-fit: cover;
}

.user {
  height: 55%;
  width: 100%;
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem;
}

.footer {
  width: 100%;
  height: 2%;
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--grey-bolder);
}

.user h2 {
  margin-top: 1rem;
}
.user h3 {
  color: var(--grey-bolder);
  font-weight: lighter;
  margin-top: -0.5rem;
}

.bio {
  margin: 1.5rem 0;
}

.gitButton {
  width: 100%;
  border: grey;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: var(--nav-shadow);
  cursor: pointer;
  transition: 0.5s;
}
.gitButton:hover {
  scale: 1.1;
}

.signOutButton {
  width: 88px;
  border: grey;
  padding: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-small;
  border-radius: 8px;
  box-shadow: var(--nav-shadow);
  cursor: pointer;
  transition: 0.5s;
  color: var(--grey-bolder);
  margin-top: 1rem;
}

.signOutButton:hover {
  scale: 1.1;
}
