.reposWraper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  text-decoration: underline var(--secondary);
  box-shadow: var(--shadow);
}

.readmeContainer {
  height: 90%;
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
}

.markdownImg {
  max-width: 100%;
  height: auto;
}
