.reposWraper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

.reposWraper h2 {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline var(--secondary);
  box-shadow: var(--shadow);
}

.cardList {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
}

.card {
  height: auto;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--grey-lighter);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--shadow);
  color: var(--grey-bolder);
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  scale: 1.02;
}

.repoTitle {
  height: auto;
  width: 100%;
  color: #0969da;
  font-weight: bold;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.description {
  height: auto;
  width: 100%;
}

.cardFooter {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repoIcon {
  height: 100%;
  width: 2;
  font-weight: lighter;
  color: var(--blue-normal);
}

.language {
  width: 50%;
  position: relative;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}

.language::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 5px;
  border-radius: 50%;
  background-color: #fd8c73;
  margin-left: -1.5rem;
}

.showButton {
  height: 100%;
  width: 50%;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.showButton a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
}

.showButton a span {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: flex-end;
  align-items: center;
}

.showButton:hover {
  color: #0969da;
  text-decoration: underline;
  text-decoration-color: #fd8c73;
}
